<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.mapper.mapper.CoreUserRoleMapper">
  <resultMap id="BaseResultMap" type="tk.mybatis.mapper.model.CoreUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="ORG_ID" jdbcType="INTEGER" property="orgId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="tk.mybatis.mapper.model.CoreUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="ORG_ID" jdbcType="INTEGER" property="orgId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>